import { Controller, Get } from '@nestjs/common';
import { AppService } from './app.service';

@Controller()
export class AppController {
  constructor(private readonly appService: AppService) {}

  @Get()
  getRoot(): { service: string; status: string } {
    return {
      service: '{{ project_name }}',
      status: this.appService.getStatus(),
    };
  }
}
